<%= link_to "Create User" ,"users/new"%>

<h1>Users:</h1>
<% @users.each do |u| %>
  <%  if u.fname %>
  <%= link_to "#{u.fname} #{u.lname}", user_path(u)%>
  <% else %>
  <%= link_to "Unknown", user_path(u) %>
  <% end %>
  <%= link_to "Delete User" ,user_path(u), method: :delete %>
  <br>
<% end %>


<!-- sends delete rquest to user(5) -->
