<h1>Post index</h1>

<% @posts.each do |post| %>
<h2>Title: <%= link_to post.title, post_path(post) %></h2>
<%= link_to "#{User.find(post.user_id).fname} #{User.find(post.user_id).lname}", user_path(post.user_id) %>
<% end %>
