/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav {
  font-size: 24px;
  text-align: right;
  margin-right: 10px;
  z-index: 2;
}

.flashNotice {
  background-color: green;
}

.flashAlert {
  background-color: red;
}

.flashNotice, .flashAlert {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

#main {
  /*padding: 10px;*/
  background-color: white;
  min-height: 100vh;
  /*height: 100vh;*/
  color: black;
  padding-bottom: 10px;
  z-index: 5;
}

#main a {
  color: #369;
}

#main h2 {
  /*color: white;*/
}

html {
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url("block.jpg");
  background-color: black;
  background-color: black;
  color: white;
}

a {
  color: inherit;
}
